
@{
    ViewData["Title"] = "Om - Coronatilbud";
}

<div class="container">
    <h1 class="mt-4 mb-3">
        Om Coronatilbud.nu
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <p class="font-weight-bold">
                Coronaen ruller ind over landet, og mindre erhvervsdrivende er truet af lukning.
                Mange virksomheder udviser en fantastisk kampgejst og kreativitet og finder på nye løsninger, produkter og services for at holde gang i deres omsætning.
                Samtidig opstår der dagligt nye borgergrupper og borgerinitiativer, der ønsker at hjælpe og støtte lokale handlende og servicevirksomheder i deres overlevelseskamp.
            </p>
            <p class="font-weight-bold">
                Sociale medier og facebook-grupper gør et stort arbejde for at sætte forbrugere og virksomheder i forbindelse med hinanden, og den indsats ønsker vi i <b>Coronatilbud.nu</b> at udvide og supplere.
                Vort mål er at samle et lokalområdes ”coronatilbud”  på én, overskuelig platform – uanset om det er mad, varer eller services.
                På den måde bliver det nemt for den lokale forbruger at købe sin takeaway eller sin vin lokalt - og måske falder man over et helt nyt lokalt tilbud, som man slet ikke havde tænkt over.
            </p>
            <p class="font-weight-bold">
                <b>Coronatilbud.nu</b> er IKKE en salgsplatform, der modtager bestillinger og betalinger.
                Siden er tænkt som en fælles markedsføringsplatform, der informerer om den enkelte viksomheds coronatilbud.  Aftale om køb, levering og betaling laves direkte med den enkelte virksomhed via telefon eller hjemmeside
            </p>
        </div>
    </div>
</div>