@model CoronaTilbud_V2.ViewModels.EmailFormViewModel
@{
    ViewData["Title"] = "ContactOk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContactOk</h2>

<h1>OK</h1>
<p>@Model.EmailForm.Name</p>

